<template>
  <section class="blog-one">
    <div class="container">
      <div class="block-title text-center">
        <!-- <p>from the blog</p> -->
        <h3>Berita & Artikel</h3>
        <div class="leaf">
          <img src="/assets/images/resources/leaf.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="blog_one_single wow fadeInUp" data-wow-delay="300ms">
            <div class="blog_one_image">
              <div class="blog_image">
                <img src="/assets/images/blog/blog01.jpg" alt="Blog One Image">
                <div class="blog_one_date_box">
                  <p>22 Feb, 2022</p>
                </div>
              </div>
              <div class="blog-one__content">
                <ul class="list-unstyled blog-one__meta">
                  <li><nuxt-link to="/news_detail"><i class="far fa-user-circle"></i> Admin</nuxt-link></li>
                  <li><nuxt-link to="/news_detail"><i class="far fa-comments"></i> 0 Comments</nuxt-link>
                  </li>
                </ul>
                <h3><nuxt-link to="/news_detail">TOUR DE BORNEO</nuxt-link></h3>
                <div class="blog_one_text">
                  <p>Tim Balai Air Tanah bersama dengan BBWS Kalimantan I melakukan survey Geolistrik dan potensi 
                  air baku lainnya</p>
                </div>
                <div class="read_more_btn">
                  <nuxt-link to="/news_detail"><i class="fa fa-angle-right"></i>Selengkapnya</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="blog_one_single wow fadeInUp" data-wow-delay="600ms">
            <div class="blog_one_image">
              <div class="blog_image">
                <img src="/assets/images/blog/blog03.jpg" alt="Blog One Image">
                <div class="blog_one_date_box">
                  <p>21 Feb, 2022</p>
                </div>
              </div>
              <div class="blog-one__content">
                <ul class="list-unstyled blog-one__meta">
                  <li><nuxt-link to="/news_detail"><i class="far fa-user-circle"></i> Admin</nuxt-link></li>
                  <li><nuxt-link to="/news_detail"><i class="far fa-comments"></i> 0 Comments</nuxt-link>
                  </li>
                </ul>
                <h3><nuxt-link to="news_detail.html">VAKSINASI BOOSTER</nuxt-link></h3>
                <div class="blog_one_text">
                  <p>Kamis 17 Februari 2022 seluruh karyawan Balai Air Tanah telah dilakukan vaksinasi booster astrazeneca 
                  di gedung nanang ma'soem</p>
                </div>
                <div class="read_more_btn">
                  <nuxt-link to="/news_detail"><i class="fa fa-angle-right"></i>Selengkapnya</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="blog_one_single wow fadeInUp" data-wow-delay="900ms">
            <div class="blog_one_image">
              <div class="blog_image">
                <img src="/assets/images/blog/blog02.jpg" alt="Blog One Image">
                <div class="blog_one_date_box">
                  <p>16 Feb, 2022</p>
                </div>
              </div>
              <div class="blog-one__content">
                <ul class="list-unstyled blog-one__meta">
                  <li><nuxt-link to="/news_detail"><i class="far fa-user-circle"></i> Admin</nuxt-link></li>
                  <li><nuxt-link to="/news_detail"><i class="far fa-comments"></i> 0 Comments</nuxt-link>
                  </li>
                </ul>
                <h3><nuxt-link to="/news_detail">ANALISA MATA AIR</nuxt-link></h3>
                <div class="blog_one_text">
                  <p>Balai Air Tanah bersama dengan BBWS Citarum melakukan survey mata air di Desa Cisarua Kecamatan Tegalwaru,
                   Kabupaten Purwakarta untuk perencanaan sumber air baku.</p>
                </div>
                <div class="read_more_btn">
                  <nuxt-link to="/news_detail"><i class="fa fa-angle-right"></i>Selengkapnya</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "BlogOne"
    }
</script>

<style scoped>

</style>
