<template>
  <section class="blog-one news">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="blog_one_single mb-30">
            <div class="blog_one_image">
              <div class="blog_image">
                <img src="/assets/images/blog/blog01.jpg" alt="Blog One Image">
                <div class="blog_one_date_box">
                  <p>22 Feb, 2022</p>
                </div>
              </div>
              <div class="blog-one__content">
                <ul class="list-unstyled blog-one__meta">
                  <li><nuxt-link to="/news_detail"><i class="far fa-user-circle"></i> Admin</nuxt-link></li>
                  <li><nuxt-link to="/news_detail"><i class="far fa-comments"></i> 0 Comments</nuxt-link>
                  </li>
                </ul>
                <h3><nuxt-link to="/news_detail">Tour De Borneo</nuxt-link></h3>
                <div class="blog_one_text">
                  <p>Tim Balai Air Tanah bersama dengan BBWS Kalimantan I melakukan survey Geolistrik dan potensi air baku lainnya</p>
                </div>
                <div class="read_more_btn">
                  <nuxt-link to="/news_detail"><i class="fa fa-angle-right"></i>Selengkapnya</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="blog_one_single mb-30">
            <div class="blog_one_image">
              <div class="blog_image">
                <img src="/assets/images/blog/blog02.jpg" alt="Blog One Image">
                <div class="blog_one_date_box">
                  <p>21 Feb, 2022</p>
                </div>
              </div>
              <div class="blog-one__content">
                <ul class="list-unstyled blog-one__meta">
                  <li><nuxt-link to="/news_detail"><i class="far fa-user-circle"></i> Admin</nuxt-link></li>
                  <li><nuxt-link to="/news_detail"><i class="far fa-comments"></i> 0 Comments</nuxt-link>
                  </li>
                </ul>
                <h3><nuxt-link to="/news_detail">Vaksinasi Booster</nuxt-link></h3>
                <div class="blog_one_text">
                  <p>Kamis 17 Februari 2022 seluruh karyawan Balai Air Tanah telah dilakukan vaksinasi booster astrazeneca di gedung nanang ma'soem</p>
                </div>
                <div class="read_more_btn">
                  <nuxt-link to="/news_detail"><i class="fa fa-angle-right"></i>Selengkapnya</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="blog_one_single mb-30">
            <div class="blog_one_image">
              <div class="blog_image">
                <img src="/assets/images/blog/blog03.jpg" alt="Blog One Image">
                <div class="blog_one_date_box">
                  <p>16 Feb , 2022</p>
                </div>
              </div>
              <div class="blog-one__content">
                <ul class="list-unstyled blog-one__meta">
                  <li><nuxt-link to="/news_detail"><i class="far fa-user-circle"></i> Admin</nuxt-link></li>
                  <li><nuxt-link to="/news_detail"><i class="far fa-comments"></i> 0 Comments</nuxt-link>
                  </li>
                </ul>
                <h3><nuxt-link to="/news_detail">Analisa Mata Air</nuxt-link></h3>
                <div class="blog_one_text">
                  <p>Balai Air Tanah bersama dengan BBWS Citarum melakukan survey mata air di Desa Cisarua Kecamatan 
                  Tegalwaru, Kabupaten Purwakarta untuk perencanaan sumber air baku.</p>
                </div>
                <div class="read_more_btn">
                  <nuxt-link to="/news_detail"><i class="fa fa-angle-right"></i>Selengkapnya</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "BlogPage"
    }
</script>

<style scoped>

</style>
