<template>
  <section class="about_two">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="block-title text-left">
            <p>Error404</p>
            <h3>Page Not Found 🕵🏻‍♀️</h3>
            <div class="leaf">
              <img src="/assets/images/resources/leaf.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="about_two_text">
            <p>Oops! 😖 The requested URL was not found on this server.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "Error404"
    }
</script>

<style scoped>

</style>
