<template>
  <section class="faq_one">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="faq_one_left">
            <div class="block-title text-left">
              <p>Pertanyaan Yang Sering Muncul</p>
              <h3>Punya Pertanyaan?</h3>
              <div class="leaf">
                <img src="/assets/images/resources/leaf.png" alt="">
              </div>
            </div>
            <div class="faq_one_image"
                 style="background-image: url(/assets/images/resources/question.jpg)">
              <div class="phone_number">
                <p>Ajukan pertanyaan lewat email <a href="mailto:balaiairtanah@gmail.com">balaiairtanah@gmail.com</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="faq_one_right">
            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
              <div class="accordion-container-one">
                <div class="ac">
                  <h2 class="ac-q accordion__title-text" tabIndex="0">Dimana lokasi kantor Balai Air Tanah?</h2>
                  <div class="ac-a accordion__content">
                    <p class="accordion__content-desc">Balai Air Tanah Beralamat di Jalan Ir. H. Juanda No.193, Dago,
                    Kecamatan Coblong, Kota Bandung, Jawa Barat
                    </p>
                  </div>
                </div>

                <div class="ac accordion__content">
                  <h2 class="ac-q accordion__title-text" tabIndex="0">Kapan saja BAT buka?</h2>
                  <div class="ac-a">
                    <p class="accordion__content-desc">Balai Air Tanah memiliki jam operasional yaitu setiap Senin s.d. Jumat dari jam 8 pagi hingga 4.30 sore
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
      name: "FaqOne",
      mounted() {
        new Accordion('.accordion-container-one');
      }
    }
</script>

<style scoped>
  .ac {
    margin-top: 10px;
    padding: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
  }

  .ac>.ac-q {
    font-size: 20px;
    color: #444;
    padding: 10px 30px 10px 10px;
    margin: 0;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    font-family: var(--heading-font);
  }

  .ac.is-active .ac-q {
    color: #5a8b50 !important;
  }
  .ac>.ac-q::after {
    content: '+';
    text-align: center;
    width: 15px;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute
  }

  .ac>.ac-a {
    overflow: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
  }

  .ac>.ac-a p {
    color: #878e9c;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  .ac.js-enabled>.ac-a {
    visibility: hidden
  }

  .ac.is-active>.ac-a {
    visibility: visible
  }

  .ac.is-active>.ac-q::after {
    content: '\2013';
    color: #5a8b50;
  }
</style>
