<template>
    <div>
      <footer class="site-footer">
        <div class="site-footer_farm_image"><img src="/assets/images/resources/site-footer-farm.png"
                                                 alt="Farm Image"></div>
        <div class="container">
          <div class="row no-gutters">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="footer-widget__column footer-widget__about wow fadeInUp" data-wow-delay="100ms">
                <div class="footer-widget__title">
                  <h3>Tentang Kami</h3>
                </div>
                <div class="footer-widget_about_text">
                  <p>Balai Air Tanah mempunyai tugas melaksanakan pengembangan, perekayasaan, dan pelaksanaan 
                  pelayanan teknis pengujian, pengkajian, inspeksi, dan sertifikasi di bidang air tanah.</p>
                </div>
                <form>
                  <div class="footer_input-box">
                    <input type="Email" placeholder="Email Address">
                    <button type="submit" class="button"><i class="fa fa-check"></i></button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6">
              <div class="footer-widget__column footer-widget__link wow fadeInUp" data-wow-delay="200ms">
                <div class="footer-widget__title">
                  <h3>Eksplor</h3>
                </div>
                <ul class="footer-widget__links-list list-unstyled">
                  <li><a href="#">Tentang Kami</a></li>
                  <li><a href="#">Layanan</a></li>
                  <li><a href="#">Berita Terbaru</a></li>
                  <li><a href="#">Kontak</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget__column footer-widget__news wow fadeInUp" data-wow-delay="300ms">
                <div class="footer-widget__title">
                  <h3>Berita</h3>
                </div>
                <ul class="footer-widget__news list-unstyled">
                  <li>
                    <div class="footer-widget__news_image">
                      <img src="/assets/images/resources/footer01.jpg" alt="">
                    </div>
                    <div class="footer-widget__news_text">
                      <p><a href="/news_detail">Tour De Borneo</a></p>
                    </div>
                    <div class="footer-widget__news_date_box">
                      <p>22 Feb, 2022</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-widget__news_image">
                      <img src="/assets/images/resources/footer02.jpg" alt="">
                    </div>
                    <div class="footer-widget__news_text">
                      <p><a href="/news_detail">Vaksinasi Booster</a></p>
                    </div>
                    <div class="footer-widget__news_date_box">
                      <p>21 Feb, 2022</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="footer-widget__column footer-widget__contact wow fadeInUp" data-wow-delay="400ms">
                <div class="footer-widget__title">
                  <h3>Kontak</h3>
                </div>
                <div class="footer-widget_contact">
                  <p>Jl. Ir. H. Juanda No. 193, Dago <br> 40135, Kota Bandung</p>
                  <a href="mailto:balaiairtanah@gmail.com">balaiairtanah@gmail.com</a><br>
                  <!-- <a href="tel:666-888-0000">666 888 0000</a> -->
                  <div class="site-footer__social">
                    <a href="https://www.facebook.com/balai.airtanah"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/pupr_sda_balaiairtanah/"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="site-footer_bottom">
        <div class="container">
          <div class="site-footer_bottom_copyright">
            <p>@ All copyright 2022 <a href="#"></a></p>
          </div>
          <div class="site-footer_bottom_menu">
            <ul class="list-unstyled">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div>
        </div>
      </div>

      <a @click="scrollTop" href="#" class="scroll-to-target scroll-to-top" :style="`display: ${scrollBtn ? 'block' : 'none'}`"><i class="fa fa-angle-up"></i></a>

    </div>
</template>

<script>
    export default {
      name: "Footer",
      data(){
        return {
          scrollBtn: false
        }
      },
      mounted() {
        window.addEventListener('scroll', this.handleScroll);
      },

      methods: {

        handleScroll () {

          if (window.scrollY > 70) {
            this.scrollBtn = true
          }
          else if (window.scrollY < 70) {
            this.scrollBtn = false
          }
        },

        scrollTop () {
          window.scrollTo(0, 0);
        }

      }
    }
</script>

<style scoped>

</style>
