<template>
  <section class="service_one">
    <div class="container">
      <div class="block-title text-center">
        <p>Apa yang kami kerjakan</p>
        <h3>Pelayanan yang dilakukan</h3>
        <div class="leaf">
          <img src="/assets/images/resources/leaf.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp">
            <div class="content">
              <h3>Investigasi Air Tanah Dan Survey Geolistrik Untuk Air Baku</h3>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/layanan_01.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp" data-wow-delay="300ms">
            <div class="content">
              <h3>Investigasi Air Tanah Dan Survey Geolistrik Untuk Mitigasi Bencana</h3>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/layanan_02.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp" data-wow-delay="300ms">
            <div class="content">
              <h3>Investigasi Air Tanah Dan Survey Geolistrik Untuk Analisa Longsoran Dan Rembesan Pada Bangunan Keairan</h3>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/layanan_03.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp" data-wow-delay="300ms">
            <div class="content">
              <h3>Pengujian Dan Analisa Pumping Test Untuk Desain Dan Potensi Sumur Air Tanah</h3>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/layanan_04.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp" data-wow-delay="300ms">
            <div class="content">
              <h3>Data Dan Informasi Tentang Air Tanah Dan Air Baku</h3>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/layanan_05.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "ServiceOne"
    }
</script>

<style scoped>

</style>
