<template>
  <div class="site-header__header-one-wrap">
    <div class="topbar-one">
      <div
        class="topbar_bg"
        style="background-image: url(/assets/images/shapes/header-bg.png)"
      ></div>
      <div class="container">
        <div class="topbar-one__left">
          <a href="mailto:balaiairtanah@gmail.com"
            ><span class="icon-message"></span>Balaiairtanah@gmail.com</a
          >
          <!-- <a href="tel:666-999-0000"
            ><span class="icon-phone-call"></span>666 888 0000</a
          >
          -->
        </div>
        <div class="topbar-one__middle">
          <a href="/" class="main-nav__logo">
            <img
              src="/assets/images/resources/logo_banner_07.png"
              class="main-logo"
              alt="Logo BAT"
            />
          </a>
        </div>
        <div class="topbar-one__right">
          <div class="topbar-one__social">
            <a href="https://www.facebook.com/balai.airtanah"><i class="fab fa-facebook-square"></i></a>
            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
            <a href="https://www.instagram.com/pupr_sda_balaiairtanah/"><i class="fab fa-instagram"></i></a>
            <!-- <a href="#"><i class="fab fa-dribbble"></i></a> -->
          </div>
        </div>
      </div>
    </div>

    <header class="main-nav__header-one">
      <nav
        :class="`header-navigation stricky clearfix ${
          sticky ? 'stricked-menu stricky-fixed' : ''
        }`"
      >
        <div class="container clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="main-nav__left">
            <a
              href="#"
              class="main-nav__search search-popup__toggler"
              @click="searchPopupStatusChange"
              ><i class="icon-magnifying-glass"></i
            ></a>
            <a href="#" class="side-menu__toggler">
              <i @click="mobileToggle = !mobileToggle" class="fa fa-bars"></i>
            </a>
          </div>
          <div class="main-nav__main-navigation">
            <ul class="main-nav__navigation-box">
              <li class="dropdown current">
                <nuxt-link to="/">Beranda</nuxt-link>
                <ul>
                  <li><nuxt-link to="/">Beranda 01</nuxt-link></li>
                  <li><nuxt-link to="/index2">Beranda 02</nuxt-link></li>
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li class="dropdown">
                <nuxt-link to="#">Profil</nuxt-link>
                <ul>
                  <li><nuxt-link to="/about">Profil</nuxt-link></li>
                  <li><nuxt-link to="#">Sekilas BAT</nuxt-link></li>
                  <li><nuxt-link to="#">Sejarah</nuxt-link></li>
                  <li><nuxt-link to="/struktur_organisasi">Struktur Organisasi</nuxt-link></li>
                  <li><nuxt-link to="/tugas_dan_fungsi">Tugas dan Fungsi</nuxt-link></li>
                  <li><nuxt-link to="#">Roadmap</nuxt-link></li>
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li class="dropdown">
                <nuxt-link to="/layanan">Layanan</nuxt-link>
                <ul>
                  <li><nuxt-link to="#">Survei Geolistrik Air Baku</nuxt-link><li>
                  <li><nuxt-link to="#">Survei Geolistrik Mitigasi Bencana</nuxt-link></li>
                  <li><nuxt-link to="#">Survei Geolistrik Analisa Longsoran dan Rembesan</nuxt-link></li>
                  <li><nuxt-link to="#">Pengujian dan Analisa Test Pumping Untuk Sumur Air Tanah</nuxt-link></li>
                  <li><nuxt-link to="#">Data Air Tanah dan Air Baku</nuxt-link></li>
                  <!--<li>
                    <nuxt-link to="/service-detail">Services Detail</nuxt-link>
                  </li>-->
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li class="dropdown">
                <nuxt-link to="berita">Berita</nuxt-link>
                <ul>
                  <!--<li>
                    <nuxt-link to="/service-detail">Services Detail</nuxt-link>
                  </li>-->
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li class="dropdown">
                <nuxt-link to="#">Galeri</nuxt-link>
                <ul>
                  <li><nuxt-link to="#">Foto</nuxt-link></li>
                  <li><nuxt-link to="#">Video</nuxt-link></li>
                  <li><nuxt-link to="#">Infografis</nuxt-link></li>
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li class="dropdown">
                <nuxt-link to="#">Agenda</nuxt-link>
                <ul>
                  <li><nuxt-link to="#">Seminar</nuxt-link></li>
                  <li><nuxt-link to="#">Bimbingan Teknis</nuxt-link></li>
                  <li><nuxt-link to="#">Workshop</nuxt-link></li>
                </ul>
                <!-- /.sub-menu -->
              </li>
              <li>
                <nuxt-link to="/contact">Kontak</nuxt-link>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>

      <nav
        class="mobile-nav__container"
        :style="`display: ${mobileToggle ? 'block' : 'none'}`"
      >
        <!-- content is loading via js -->

        <ul class="main-nav__navigation-box">
          <li class="dropdown current">
            <div class="menu-holder">
              Beranda<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="/">Beranda 01</nuxt-link></li>
              <li><nuxt-link to="/index2">Beranda 02</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Profil<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="/about">Profil</nuxt-link></li>
              <li><nuxt-link to="#">Sekilas BAT</nuxt-link></li>
              <li><nuxt-link to="#">Sejarah</nuxt-link></li>
              <li><nuxt-link to="/struktur_organisasi">Struktur Organisasi</nuxt-link></li>
              <li><nuxt-link to="/tugas_dan_fungsi">Tugas dan Fungsi</nuxt-link></li>
              <li><nuxt-link to="#">Roadmap</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              <nuxt-link to="/layanan">Layanan</nuxt-link>
              <button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
                <li><nuxt-link to="#">Survei Geolistrik Air Baku</nuxt-link><li>
                <li><nuxt-link to="#">Survei Geolistrik Mitigasi Bencana</nuxt-link></li>
                <li><nuxt-link to="#">Survei Geolistrik Analisa Longsoran dan Rembesan</nuxt-link></li>
                <li><nuxt-link to="#">Pengujian dan Analisa Test Pumping Untuk Sumur Air Tanah</nuxt-link></li>
                <li><nuxt-link to="#">Data Air Tanah dan Air Baku</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li>
            <nuxt-link to="#">Berita</nuxt-link>
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Galeri<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="#">Foto</nuxt-link></li>
              <li><nuxt-link to="#">Video</nuxt-link></li>
              <li><nuxt-link to="#">Infografis</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Agenda<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="#">Seminar</nuxt-link></li>
              <li><nuxt-link to="#">Bimbingan Teknis</nuxt-link></li>
              <li><nuxt-link to="#">Workshop</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li>
            <nuxt-link to="/contact">Kontak</nuxt-link>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "Nav",
  data() {
    return {
      sticky: false,
      mobileToggle: false,
    };
  },
  computed: {
    searchPopup() {
      return this.$store.state.searchPopupStatus;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 70) {
        this.sticky = true;
      } else if (window.scrollY < 70) {
        this.sticky = false;
      }
    },
    ...mapMutations({
      searchPopupStatusChange: "changeSearchPopupStatus",
    }),
  },
};
</script>

<style scoped></style>
