<template>
  <div class="site_header__header_two_wrap">
    <div class="topbar-two">
      <div class="container">
        <div class="topbar_two_content clearfix">
          <div class="logo-box-two float-left">
            <a href="/index2" class="main-nag__logo">
              <img src="/assets/images/resources/logo_square_04.png" alt="" />
            </a>
          </div>
          <div class="header_address_two float-left">
            <ul class="clearfix list-unstyled">
              <li>
                <div class="address_icon">
                  <span class="icon-placeholder"></span>
                </div>
                <div class="address_title">
                  <h6>Alamat</h6>
                  <p>Jl. Ir. H. Juanda No. 193, Dago, Kota Bandung</p>
                </div>
              </li>
              <!--<li>
                <div class="address_icon">
                  <span class="icon-phone-call"></span>
                </div>
                <div class="address_title">
                  <h6>Phone</h6>
                  <p><a href="tel:123456789">66 Broklyn St. New York</a></p>
                </div>
              </li>-->
              <li>
                <div class="address_icon">
                  <span class="icon-clock"></span>
                </div>
                <div class="address_title">
                  <h6>Jam Operasional</h6>
                  <p>Sen - Jum 08:00 - 16:30 WIB</p>
                </div>
              </li>
            </ul>
          </div>
          <!--<div class="header_btn_two float-right">
            <a class="thm-btn" href="#">Get a Free Quote</a>
          </div>-->
        </div>
      </div>
    </div>

    <header class="main-nav__header_two clearfix">
      <nav
        :class="`header-navigation stricky clearfix ${
          sticky ? 'stricked-menu stricky-fixed' : ''
        }`"
      >
        <div class="container">
          <div class="main-nav__header_two_content">
            <div class="mobile_menu_icon_two">
              <a href="#" class="side-menu__toggler">
                <i @click="mobileToggle = !mobileToggle" class="fa fa-bars"></i>
              </a>
            </div>
            <div class="main-nav__main-navigation two float-left">
              <ul class="main-nav__navigation-box">
                <li class="dropdown current">
                  <nuxt-link to="/">Beranda</nuxt-link>
                  <ul>
                    <li><nuxt-link to="/">Beranda 01</nuxt-link></li>
                    <li><nuxt-link to="/index2">Beranda 02</nuxt-link></li>
                  </ul>
                  <!-- /.sub-menu -->
                </li>
                <li class="dropdown">
                  <nuxt-link to="#">Profil</nuxt-link>
                  <ul>
                    <li><nuxt-link to="/about">Profil</nuxt-link></li>
                    <li><nuxt-link to="#">Sekilas BAT</nuxt-link></li>
                    <li><nuxt-link to="#">Sejarah</nuxt-link></li>
                    <li><nuxt-link to="#">Struktur</nuxt-link></li>
                    <li><nuxt-link to="#">Tugas dan Fungsi</nuxt-link></li>
                    <li><nuxt-link to="#">Roadmap</nuxt-link></li>
                  </ul>
                  <!-- /.sub-menu -->
                </li>
                <li class="dropdown">
                  <nuxt-link to="#">Layanan</nuxt-link>
                  <ul>
                    <li><nuxt-link to="#">Pengukuran Geolistrik</nuxt-link></li>
                  </ul>
                  <!-- /.sub-menu -->
                </li>
                <li class="dropdown">
                  <nuxt-link to="#">Berita</nuxt-link>
                  <ul>
                  </ul>
                  <!-- /.sub-menu -->
                </li>
                <li class="dropdown">
                  <nuxt-link to="#">Galeri</nuxt-link>
                  <ul>
                    <li><nuxt-link to="#">Foto</nuxt-link></li>
                    <li><nuxt-link to="#">Video</nuxt-link></li>
                    <li><nuxt-link to="#">Infografis</nuxt-link></li>
                  </ul>
                  <!-- /.sub-menu -->
                </li>
                <li class="dropdown">
                  <nuxt-link to="#">Agenda</nuxt-link>
                  <ul>
                    <li><nuxt-link to="#">Seminar</nuxt-link></li>
                    <li><nuxt-link to="#">Bimbingan Teknis</nuxt-link></li>
                    <li><nuxt-link to="#">Workshop</nuxt-link></li>
                  </ul>
                  <!-- /.sub-menu -->
                </li>
                <li>
                  <nuxt-link to="/contact">Kontak</nuxt-link>
                </li>
              </ul>
            </div>

            <div class="main_nav_right_two float-right">
              <div class="icon_search_box">
                <a
                  href="#"
                  class="main-nav__search search-popup__toggler"
                  @click="searchPopupStatusChange"
                  ><i class="icon-magnifying-glass"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <nav
        class="mobile-nav__container"
        :style="`display: ${mobileToggle ? 'block' : 'none'}`"
      >
        <!-- content is loading via js -->

        <ul class="main-nav__navigation-box">
          <li class="dropdown current">
            <div class="menu-holder">
              Beranda<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="/">Beranda 01</nuxt-link></li>
              <li><nuxt-link to="/index2">Beranda 02</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Profil<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="/about">Profil</nuxt-link></li>
              <li><nuxt-link to="#">Sekilas BAT</nuxt-link></li>
              <li><nuxt-link to="#">Sejarah</nuxt-link></li>
              <li><nuxt-link to="#">Struktur</nuxt-link></li>
              <li><nuxt-link to="#">Tugas dan Fungsi</nuxt-link></li>
              <li><nuxt-link to="#">Roadmap</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Layanan<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="#">Pengukuran Geolistrik</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li>
            <nuxt-link to="#">Berita</nuxt-link>
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Galeri<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="#">Foto</nuxt-link></li>
              <li><nuxt-link to="#">Video</nuxt-link></li>
              <li><nuxt-link to="#">Infografis</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li class="dropdown">
            <div class="menu-holder">
              Agenda<button class="dropdown-btn">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
            <ul>
              <li><nuxt-link to="#">Seminar</nuxt-link></li>
              <li><nuxt-link to="#">Bimbingan Teknis</nuxt-link></li>
              <li><nuxt-link to="#">Workshop</nuxt-link></li>
            </ul>
            <!-- /.sub-menu -->
          </li>
          <li>
            <nuxt-link to="/contact">Kontak</nuxt-link>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "NavTwo",
  data() {
    return {
      sticky: false,
      mobileToggle: false,
    };
  },
  computed: {
    searchPopup() {
      return this.$store.state.searchPopupStatus;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 70) {
        this.sticky = true;
      } else if (window.scrollY < 70) {
        this.sticky = false;
      }
    },
    ...mapMutations({
      searchPopupStatusChange: "changeSearchPopupStatus",
    }),
  },
};
</script>

<style scoped></style>
