<template>
  <section class="service_one">
    <div class="container">
      <div class="block-title text-center">
        <p>Apa yang kami kerjakan</p>
        <h3>Pelayanan yang dilakukan</h3>
        <div class="leaf">
          <img src="/assets/images/resources/leaf.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp">
            <div class="content">
              <h3>Pengukuran<br>Geolistrik</h3>
              <p>Geolistrik merupakan salah satu metode geofisika aktif, karena arus listrik berasal dari luar sistem</p>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/service02.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="service_1_single wow fadeInUp" data-wow-delay="300ms">
            <div class="content">
              <h3>Pengukuran<br>Kualitas Air</h3>
              <p>Kualitas air suatu perairan dapat diketahui dengan mengukur parameter fisika dan kimia.</p>
            </div>
            <div class="service_1_img">
              <img src="/assets/images/service/service01.jpg" alt="Service Image">
              <div class="hover_box">
                <nuxt-link to="/service-detail"><span class="icon-left-arrow"></span></nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "ServiceOne"
    }
</script>

<style scoped>

</style>
