<template>
  <section class="banner-section banner-one">

    <div class="banner-carousel">
      <!-- Slide Item -->
      <no-ssr>
      <carousel :items="1" :autoplay="true" :nav="false">

        <div class="slide-item">
          <div class="image-layer" style="background-image: url(/assets/images/main-slider/post01.png);">
          </div>
          <div class="auto-container">
            <div class="content-box">
              <div class="content">
                <div class="inner">
                  <!-- <div class="sub-title"></div> -->
                  <h1>TOUR DE BORNEO</h1>
                  <div class="link-box">
                    <nuxt-link to="#" class="thm-btn">Selengkapnya</nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide Item -->
        <div class="slide-item">
          <div class="image-layer" style="background-image: url(/assets/images/main-slider/post02.png);">
          </div>
          <div class="auto-container">
            <div class="content-box">
              <div class="content">
                <div class="inner">
                  <!-- <div class="sub-title"></div> -->
                  <h1>VAKSINASI BOOSTER</h1>
                  <div class="link-box">
                    <nuxt-link to="#" class="thm-btn">Selengkapnya</nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide Item -->
        <div class="slide-item">
          <div class="image-layer" style="background-image: url(/assets/images/main-slider/post03.png);">
          </div>
          <div class="auto-container">
            <div class="content-box">
              <div class="content">
                <div class="inner">
                  <!-- <div class="sub-title"></div> -->
                  <h1>ANALISA MATA AIR</h1>
                  <div class="link-box">
                    <nuxt-link to="#" class="thm-btn">Selengkapnya</nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </carousel>
      </no-ssr>
    </div>
  </section>
</template>

<script>

    export default {
      name: "Slider",
      data(){
          return {

          }
      }
    }
</script>

<style scoped>

</style>
