<template>
  <section class="project_detail">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="project_detail_image">
            <img src="/assets/images/profil/struktur.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "ProjectDetail"
    }
</script>

<style scoped>

</style>
