<template>
  <section class="project_detail">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="project_detail_image">
            <img src="/assets/images/profil/tugasdanfungsi02.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-7">
          <div class="project_detail_left_content">
            <div class="harvest_innovations_detail">
              <h2>Tugas Balai Air Tanah</h2>
              <p>Balai Air Tanah mempunyai tugas dan melaksanakan pengembangan, perekayasaan, dan pelaksanaa
              pelayanan teknis pengujian, pengkajian, inspeksi, dan sertifikasi di bidang air tanah</p>
            </div>

            <div class="harvest_innovations_detail">
              <h2>Fungsi Balai Air Tanah</h2>
              <p>1. Penyusunan rencana, program, dan anggaran</p>
              <p>2. Pelaksanaan pengembangan dan perekayasaan</p>
              <p>3. Pelaksanaan diseminasi</p>
              <p>4. Pelaksanaan pelayanan teknis meliputi pengujian, pengkajian, inspeksi, dan sertifikasi</p>
              <p>5. Fasilitasi pelaksanaan alih teknologi</p>
              <p>6. Penyiapan dan pengelolaan data</p>
              <p>7. Pengelolaan laboratorium</p>
              <p>8. Pelaksanaan pemantauan, evaluasi, dan pelaporan</p>
              <p>9. Pelaksanaan urusan tata usaha dan rumah tangga balai</p>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="project_information_box">
            <h3>Informasi Balai</h3>
            <ul class="project_information_list list-unstyled">
              <li><span>Tanggal Berdiri: </span>02 Juni, 2020</li>
              <li><span>Website: </span>balaiairtanah.gov</li>
              <li><span>Email: </span>balaiairtanah@gmail.com</li>
              <li><span>Lokasi: </span>Dago, Kota Bandung</li>
            </ul>
            <div class="project_information__social">
              <a href="https://www.facebook.com/balai.airtanah"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/pupr_sda_balaiairtanah/"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "ProjectDetail"
    }
</script>

<style scoped>

</style>
