<template>
  <section class="video-one" style="background-image:url(/assets/images/resources/video.png);">
    <div class="container text-center">
      <a href="https://www.youtube.com/watch?v=UyFCWGQWmXg" class="video-one__btn videoOne"><i
        class="fa fa-play"></i></a>
      <!-- <p>Modern agriculture types</p> -->
      <h3>Profil & Kegiatan <br> Balai Air Tanah 2021</h3>
    </div>
  </section>
</template>

<script>
    export default {
      name: "VideoOne",
      mounted() {
        new GLightbox({
          selector: '.videoOne',
          touchNavigation: true,
          loop: true,
          autoplayVideos: true
        });
      }

    }
</script>

<style scoped>

</style>
