<template>
  <div>
    <Nav />
    <PageHeader title="Error404" />
    <Error404 />
    <CallToActionOne />
    <Footer />
  </div>
</template>

<script>

  import Nav from "../components/Nav";
  import PageHeader from "../components/PageHeader";
  import Footer from "../components/Footer";
  import Error404 from "../components/Error404";
  import CallToActionOne from "../components/CallToActionOne";
  export default {
    components: {
      CallToActionOne,
      Footer,
      Error404,
      PageHeader,
      Nav
    },
    head(){
      return {
        title: "Balai Air Tanah | Error404"
      }
    }
  }
</script>
