<template>
  <div>
    <Nav />
    <PageHeader title="Layanan" />
    <LayananOne />
    <FaqOne />
    <Footer />
  </div>
</template>

<script>

  import Nav from "../components/Nav";
  import PageHeader from "../components/PageHeader";
  import ServicePage from "../components/ServicePage";
  import ServiceOne from "../components/ServiceOne";
  import LayananOne from "../components/LayananOne";
  import BrandOne from "../components/BrandOne";
  import FaqOne from "../components/FaqOne";
  import CallToActionThree from "../components/CallToActionThree";
  import Footer from "../components/Footer";
  export default {
    components: {
      Footer,
      CallToActionThree,
      FaqOne,
      LayananOne,
      BrandOne,
      ServiceOne,
      ServicePage,
      PageHeader,
      Nav
    },
    head(){
      return {
        title: "Balai Air Tanah | Layanan"
      }
    }
  }
</script>
