<template>
  <div>
    <Nav />
    <PageHeader title="Struktur Organisasi" />
    <StrukturOrganisasi />
    <Footer />
  </div>
</template>

<script>

  import Nav from "../components/Nav";
  import PageHeader from "../components/PageHeader";
  import Footer from "../components/Footer";
  import StrukturOrganisasi from "../components/StrukturOrganisasi";
  export default {
    components: {
      StrukturOrganisasi,
      Footer,
      PageHeader,
      Nav
    },
    head(){
      return {
        title: "Balai Air Tanah | Struktur Organisasi"
      }
    }
  }
</script>
