<template>
  <div>
    <Nav />
    <PageHeader title="Tugas Dan Fungsi" />
    <TugasDanFungsi />
    <Footer />
  </div>
</template>

<script>

  import Nav from "../components/Nav";
  import PageHeader from "../components/PageHeader";
  import Footer from "../components/Footer";
  import TugasDanFungsi from "../components/TugasDanFungsi";
  export default {
    components: {
      TugasDanFungsi,
      Footer,
      PageHeader,
      Nav
    },
    head(){
      return {
        title: "Balai Air Tanah | Tugas dan Fungsi"
      }
    }
  }
</script>
